<!doctype html>
<html lang="nl">
<head>
	<title>Funda</title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
	<meta name="theme-color" content="#F7A100">
</head>
<body>
<nav>
	<a href="/" title="Funda" id="home"></a>
</nav>