<% include partials/head.ejs %>

<section id="offline">
  <h1>U bent offline</h1>
  <p>Op dit moment bent u niet verbonden met het internet. Desondanks kunt u blijven rondspeuren naar het aanbod tot de internetverbinding weer is hersteld.</p>

  <a href="/" title="">Bekijk woningen aanbod Amsterdam</a>
</section>

<% include partials/footer.ejs %>
