html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}
body{
	background: #fff;
	font-family: 'Amiko', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Amiko', sans-serif;
}
h1{
	width: 100%;
	text-align: center;
}
p, ul{
	font-family: 'Amiko', sans-serif;
}

nav{
	width: 100%;
	height: 3em;
	background: #F7A100;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav a{
	background: url(../img/fundawonen-logo.svg) no-repeat;
	background-size: 100%;
	width: 6em;
    height: 2.1em;
}
nav h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	color: #f5f5f5;
	font-size: 3em;
	letter-spacing: -3px;
}
nav ul{
	font-weight: 400;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
nav ul li a{
	padding: 1em;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E6F2F7;
    padding: 2em 0;
    /*height: 8em;*/
}
fieldset{
	border: 0;
}
form fieldset:nth-of-type(1){
	display: flex;
	flex-direction: row;
	width: 50%;
}
@media only screen and (max-width: 40em) {
	form fieldset:nth-of-type(1){
		width: 75%;
	}
}
form fieldset:nth-of-type(2){
	margin: 1em 0 0;
    width: 70%;
    text-align: center;
}
form fieldset:nth-of-type(1) label{
	display: flex;
	position: relative;
	width: 100%;
    padding: 0;
    margin: 0;
}
form fieldset:nth-of-type(2) label:nth-of-type(1),
form fieldset:nth-of-type(2) label:nth-of-type(2){
	margin-right: 3em;
}
form fieldset:nth-of-type(2) label{
	font-size: .75em;
}
@media only screen and (max-width: 40em) {
	form fieldset:nth-of-type(2) label{
		display: block;
	}
	form fieldset:nth-of-type(2) label:nth-of-type(1),
	form fieldset:nth-of-type(2) label:nth-of-type(2){
		margin-bottom: 2em;
	}
	form fieldset:nth-of-type(2) label:nth-of-type(1),
	form fieldset:nth-of-type(2) label:nth-of-type(2){
		margin-right: 0;
	}
}
label ul{
	position: absolute;
    padding-left: 1em;
    padding: 1em;
    list-style-type: none;
    background: #fff;
    background: rgba(255,255,255,0.8);
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 10;
    line-height: 1.5;
}
section#search > p{
	text-align: center;
	color: #bcc2c9;
}
form fieldset:nth-of-type(1) input[type="text"]{
	display: inline-block;
	width: 100%;
}
input[type="text"]{
    border: 0;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1.1em;
    border-radius: 2px;
}
input[type="text"]:focus,
select:focus{
	border: 2px solid #0071B3;
	outline: none;
}
button[type="submit"]{
	padding: 1.2em;
    box-sizing: border-box;
    background: #F7A100;
    color: #fff;
    border: 0;
    font-size: 1em;
    border-radius: 2px;
    margin-left: .5em;
    cursor: pointer;
}
button[type="submit"]:hover,
button[type="submit"]:focus{
	background: #DE9000;
}
button[type="submit"]:visited{
	color: #414141;
}
label{
	position: relative;
}
select {
	position: relative;
	color: #414141;
    background: #fff;
    border: 0;
    border-radius: 0;
    height: 44px;
    min-width: min-content;
    margin-left: 1em;
    padding: 1em 3em 1em 1em;
    -webkit-appearance: none;
    border-radius: 2px;
}
label span{
	background: url(img/dropdown.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    top: -2px;
    right: 1em;
    content: '';
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
}
section#overview{
	width: 85%;
	margin: 5em auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
}
section#offline{
	width: 50%;
	margin: 5em auto 1em;
}
section#overview article{
	position: relative;
	background: #fff;
	width: 32%;
	padding: 1em;
	margin: 0 0 1em;
	box-sizing: border-box;
}
@media only screen and (max-width: 40em) {
	section#overview{
		width: 90%;
		display: block;

	}
	section#overview article{
		width: 100%;
	}
}
section#detail article{
	position: relative;
	background: #fff;
	width: min-content;
	margin: 4em auto;
	padding: 2em;
	box-sizing: border-box;
}
@media only screen and (max-width: 40em) {
	section#detail article{
		width: 90%;
	}
}
article h1{
	margin-bottom: 0;
	padding: 0;
	font-size: 1.2em;
}
article h1 a,
article h1 a:visited{
	color: #0071B3;
	text-decoration: none;
}
article h1 a:hover,
article h1 a:focus{
	color: #00517F;
}
article h1 a:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
article p{
	font-size: .8em;
	margin: .5em 0 .5em;
	padding: 0;
	width: 40em;
	line-height: 1.5;
	color: #818181;
}
@media only screen and (max-width: 40em) {
	article p{
		max-width: 22em;
	}
}
.hide{
	display: none !important;
}
img{
	width: 100%;
}
a#back-button,
a#back-button:visited{
	display: inline-block;
	margin: 1em 0 0;
	color: #d55140;
	text-decoration: none;
}
a#back-button:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 40em) {
	section#best-practices{
		width: 70%;
	}
	section#start-screen h1{
		padding: 40% 0 0;
	}
}
/* Loader */
.loader{

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #F7A100;
  z-index: 1000;
  cursor: progress;
}
.loader section{
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.loader .logo{
  display: inline-block;
  background: url(../img/fundawonen-logo.svg) no-repeat;
  background-size: 100%;
	width: 10em;
  height: 3.6em;
  margin-top: 4em;
}
.sk-cube-grid {
  width: 3em;
  height: 3em;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #53241b;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.0s;
            animation-delay: 0.0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1); }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); } }
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1); }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); } }
/* /Loader */

.hide{
	display: none;
}
